div{
  z-index: 1000;
  position: fixed;
  width: 100%;
  margin-top: -26px;
  display: flex;
  justify-content: center;
}
p{
  font-size: 1.8rem;
  padding: 8px;
  background: rgba(0, 0, 0, 0.2);
}
p:hover{
  color: white;
  cursor: pointer;
}
span{
  color: white;
}
