.showcase-overlay {
  z-index: 1000;
  position: fixed;
  width: 100%;
  margin-top: -26px;
  display: flex;
  justify-content: center;
}

.showcase-overlay-text {
  font-size: 1.8rem;
  padding: 8px;
  background: rgba(0, 0, 0, 0.3);
}

.showcase-overlay-text:hover {
  color: white;
  cursor: pointer;
}

.showcase-overlay-text span {
  color: white;
  animation: text-blink 0.4s infinite alternate;
}

.showcase-overlay-text:hover span {
  animation: none;
  color: white;
}

.showcase-screen {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.97);
  display: flex;
  justify-content: center;
  align-items: center;
}

showcase-screen{
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
}

.hidden{
  display: none;
}

@keyframes text-blink {
  0%, 49.999% {
    color: white;
  }
  50%, 100% {
    color: #ffc700;
  }
}
