<div class="tracklistWrapper">
  <h2>
<!--    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; <br> -->
    &#60; Jakub Kańgowski &#62;
<!--    <br>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
  </h2>
  <div class="tracklistRowWrapper">
    <tracklist-row tracklistNumber="14.10.2024"
                   tracklistText="{{'tracklist.text.9bits' | translate }}"
                   [tracklistTooltip]="'tracklist.tooltip.9bits'"
                   [tracklistTooltipTime]="{year: 1, month: 8}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="31.06.2024"
                   tracklistText="{{'tracklist.text.bachelorsThesis' | translate }}"
                   [tracklistTooltip]="'tracklist.tooltip.bachelorsThesis'"
                   [tracklistTooltipTime]="undefined"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="15.08.2023"
                   tracklistText="{{'tracklist.text.nekken' | translate }}"
                   [tracklistTooltip]="'tracklist.tooltip.nekken'"
                   [tracklistTooltipTime]="{year: null, month: 1}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="01.02.2023"
                   tracklistText="{{'tracklist.text.brandbo' | translate }}"
                   [tracklistTooltip]="'tracklist.tooltip.brandbo'"
                   [tracklistTooltipTime]="{year: null, month: 3}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="01.10.2021"
                   tracklistText="{{'tracklist.text.uwb' | translate }}"
                   [tracklistTooltip]="'tracklist.tooltip.uwb'"
                   [tracklistTooltipTime]="{year: 3, month: null}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="31.06.2021"
                   tracklistText="{{'tracklist.text.pogotowieKomputerowe' | translate }}"
                   [tracklistTooltip]="'tracklist.tooltip.pogotowieKomputerowe'"
                   [tracklistTooltipTime]="{year: 3.5, month: null}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="01.09.2018"
                   tracklistText="{{'tracklist.text.highSchool' | translate }}"
                   [tracklistTooltip]="'tracklist.tooltip.highSchool'"
                   [tracklistTooltipTime]="{year: 3, month: null}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="XX.09.2016"
                   tracklistText="{{'tracklist.text.codingClub' | translate }}"
                   [tracklistTooltip]="'tracklist.tooltip.codingClub'"
                   [tracklistTooltipTime]="{year: 1, month: null}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="27.06.2003"
                   tracklistText="{{'tracklist.text.birthDate' | translate }}"
                   [tracklistTooltip]="'tracklist.tooltip.birthDate'"
                   [tracklistTooltipTime]="undefined"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
  </div>
  @if (hasTooltip()) {
    <div class="tracklistTooltipDisplay">
      <span>{{ displayYearAndMonth(tooltipYear, tooltipMonth) }}</span>
      <span class="tracklistTooltipDisplayText">{{ displayedTooltipKey | translate }}
        <span class="blinkingDash">_</span>
        </span>
    </div>
  }
</div>

