.tracklistWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #132123 2px;
  border-style: solid dotted;
  padding: 16px;
  height: 500px;
  aspect-ratio: 1/1;
  background-color: #0f0f0f;
}

h2 {
  padding: 10% 50% 10% 0;
}

.tracklistRowWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

tracklist-row:hover {
  color: #eeeeee
}

.tracklistTooltipDisplay {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
  border: #132123 1px;
  border-style: solid dotted;
  max-width: 570px;
}

.blinkingDash {
  animation: blinkingDash 1000ms infinite;
}

@keyframes blinkingDash {
  55%, 50%, 45% {
    opacity: 0;
  }
}

@media screen and (min-height: 900px) {
  .tracklistWrapper {
    height: 700px;
  }

  h2 {
    font-size: 2rem;
  }

  .tracklistTooltipDisplay {
    font-size: 1.3rem;
  }
}
