<div class="showcase-screen">

  <div class="showcase-titles">
    <div class="showcase-title" (click)="showDescription('angular')">
      <pre class="showcase-number">
               ████
              ▒▒███
               ▒███
               ▒███
               ▒███
               ▒███
               █████ ██
              ▒▒▒▒▒▒ ▒▒



      </pre>
      <pre class="showcase-text">
       █████████                                  ████
      ███▒▒▒▒▒███                                ▒▒███
     ▒███    ▒███  ████████    ███████ █████ ████ ▒███   ██████   ████████
     ▒███████████ ▒▒███▒▒███  ███▒▒███▒▒███ ▒███  ▒███  ▒▒▒▒▒███ ▒▒███▒▒███
     ▒███▒▒▒▒▒███  ▒███ ▒███ ▒███ ▒███ ▒███ ▒███  ▒███   ███████  ▒███ ▒▒▒
     ▒███    ▒███  ▒███ ▒███ ▒███ ▒███ ▒███ ▒███  ▒███  ███▒▒███  ▒███
     █████   █████ ████ █████▒▒███████ ▒▒████████ █████▒▒████████ █████
    ▒▒▒▒▒   ▒▒▒▒▒ ▒▒▒▒ ▒▒▒▒▒  ▒▒▒▒▒███  ▒▒▒▒▒▒▒▒ ▒▒▒▒▒  ▒▒▒▒▒▒▒▒ ▒▒▒▒▒
                                ███ ▒███
                               ▒▒██████
                                ▒▒▒▒▒▒
      </pre>
    </div>

    <div class="showcase-title" (click)="showDescription('java')">
      <pre class="showcase-number">
          ████████
         ███▒▒▒▒███
        ▒▒▒    ▒███
           ███████
         ███▒▒▒
        ▒███      █
        ▒██████████ ██
        ▒▒▒▒▒▒▒▒▒▒  ▒▒



      </pre>
      <pre class="showcase-text">
          █████
          ▒▒███
           ▒███   ██████   █████ █████  ██████
           ▒███  ▒▒▒▒▒███ ▒▒███ ▒▒███  ▒▒▒▒▒███
           ▒███   ███████  ▒███  ▒███   ███████
     ███   ▒███  ███▒▒███  ▒▒███ ███   ███▒▒███
    ▒▒████████  ▒▒████████  ▒▒█████   ▒▒████████
     ▒▒▒▒▒▒▒▒    ▒▒▒▒▒▒▒▒    ▒▒▒▒▒     ▒▒▒▒▒▒▒▒



      </pre>
    </div>

    <div class="showcase-title" (click)="showDescription('android')">
      <pre class="showcase-number">
          ████████
         ███▒▒▒▒███
        ▒▒▒    ▒███
           ██████▒
           ▒▒▒▒▒███
         ███   ▒███
        ▒▒████████ ██
         ▒▒▒▒▒▒▒▒  ▒▒



      </pre>
      <pre class="showcase-text">
       █████████                  █████                     ███      █████
      ███▒▒▒▒▒███                ▒▒███                     ▒▒▒      ▒▒███
     ▒███    ▒███  ████████    ███████  ████████   ██████  ████   ███████
     ▒███████████ ▒▒███▒▒███  ███▒▒███ ▒▒███▒▒███ ███▒▒███▒▒███  ███▒▒███
     ▒███▒▒▒▒▒███  ▒███ ▒███ ▒███ ▒███  ▒███ ▒▒▒ ▒███ ▒███ ▒███ ▒███ ▒███
     ▒███    ▒███  ▒███ ▒███ ▒███ ▒███  ▒███     ▒███ ▒███ ▒███ ▒███ ▒███
     █████   █████ ████ █████▒▒████████ █████    ▒▒██████  █████▒▒████████
    ▒▒▒▒▒   ▒▒▒▒▒ ▒▒▒▒ ▒▒▒▒▒  ▒▒▒▒▒▒▒▒ ▒▒▒▒▒      ▒▒▒▒▒▒  ▒▒▒▒▒  ▒▒▒▒▒▒▒▒



      </pre>
    </div>

  </div>


  <showcase-description [selectedDescription]="selectedDescription"/>


  <!--  <pre>-->
  <!--   █████ █████-->
  <!--   ▒███  ▒███-->
  <!--   ▒███  ▒███ █-->
  <!--   ▒███████████-->
  <!--   ▒▒▒▒▒▒▒███▒█-->
  <!--         ▒███▒-->
  <!--        ▒█████-->
  <!--        ▒▒▒▒▒-->
  <!--  </pre>-->
</div>
