.showcase-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.showcase-titles {
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.showcase-title {
  display: flex;
  font-size: 0.4rem;
}

.showcase-title:hover {
  color: white;
  cursor: pointer;
}

showcase-description {
  margin: 10px 220px 160px;
  width: 55%;
}
